@model _60322_1_Lagutin.DAL.Entities.Book

<div class="col-md-4">
    <div class="thumbnail">
@if (Model.Image == null)
{<p>Нет изображения</p>}
else
{
        <img height="200" src="@Url.Action("GetImage", new { id = Model.Id })"  alt="NoImage"/>}
        <div class="caption">
            <div class="item-name">
                <h3>@Model.Name</h3>
            </div>
            <div class="item-description">@Model.Author</div>
            <div class="centered">
                <h3 class="badge">@Model.Price руб</h3>
            </div>
            <div class="centered">
                <a href=@Url.Action("AddToCart",
                            "Cart",
                            new {id=Model.Id, returnUrl=Request.Path} )
               class="btn btn-primary">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    В корзину
                </a>
            </div>
        </div>
    </div>
</div>
