@model _60322_1_Lagutin.DAL.Entities.Cart

@{
    ViewBag.Title = "Index";
}

<h2>Ваша корзина</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Количество</th>
        <th>Итого</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GetItems())
    {
        <tr>
            <td>@item.Book.Id</td>
            <td>@item.Quantity</td>
            <td>@(item.Book.Price*item.Quantity)</td>
        </tr>
    }</tbody>
</table>
<a href="@TempData["returnUrl"]" class="btn btn-default">Вернуться к
    меню</a>