@model _60322_1_Lagutin.Models.PageListViewModel<_60322_1_Lagutin.DAL.Entities.Book>
@using System.Text;
@{
    ViewBag.Title = "List";
}
<h2>List</h2>
<div id="List">
    @Html.Partial("ListPatial", Model)
</div>
@section SidePanel{
    @Html.Action("Side","Menu")
}